@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  color: var(--primary);
  background-color: var(--secondary);
  margin: 0px auto;
  max-width: 85%;
  width: 100%;
}

:root {
  --primary: #1d2945;
  --secondary: #fef2f2;
  --tertiary: #d4d7ec;
  --primary-major: rgb(47, 46, 65);
}

hr {
  margin: 2rem 0;
}

.text-sm {
  font-size: 0.8rem;
}

/** containers **/

.container {
  padding: 0rem 0rem;
}

.container-fluid {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container-footer {
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 600px;
}

.container-center {
  max-width: 900px;
  width: 100%;
  margin: auto;
}

/** links **/

.primary-link {
  text-decoration: none;
  color: var(--secondary);
  background-color: var(--primary);
  width: max-content;
  min-width: 140px;
  border-radius: 0.5rem;
  padding: 0.4rem 1rem 0.4rem 1rem;
}

.secondary-link {
  text-decoration: none;
  color: var(--primary);
  border: 1px solid var(--primary);
  width: max-content;
  min-width: 140px;
  border-radius: 0.5rem;
  padding: 0.4rem 1rem 0.4rem 1rem;
  background-color: var(--secondary);
}



.navigation {
  background-color: var(--primary);
  padding: 1rem 0rem;
  color: var(--secondary);
  border-bottom-left-radius: 1rem;
}

.nav-brand {
  font-weight: bolder;
  font-size: large;
}

.list-non-bullet {
  list-style: none;
  text-align: right;
}

.list-item-inline {
  display: inline-block;
  padding: 0rem 0.8rem;
}

.navigation a {
  text-decoration: none;
  color: var(--secondary);
}

.navigation .link-active {
  font-weight: bold;
}




.hero {
  padding: 2rem;
  padding-top: 5rem;
  color: var(--tertiary);
  display: block;
}

.hero img {
  max-width: 80%;
  width: 400px;
  display: block;
  margin: auto;
}

.hero .hero-heading {
  text-align: center;
  padding-top: 1rem;
  font-weight: bold;
  color: var(--primary);
}

.hero .hero-heading .heading-inverted {
  color: var(--primary-major);
  display: block;
}



.section {
  padding: 2rem;
  margin: 1rem 0;
  border-radius: 1rem;
  text-align: left;
}

.section h2 {
  text-align: left;
  margin: 0;
}

.section p {
  padding-bottom: 0.4rem;

}
small{
  color: black;
}

.blog{
  text-align: justify;
  text-justify: inter-word;
}

#blog-justify{
  text-align: justify;
  text-justify: inter-word;
}

.ow {
  background-color: var(--tertiary);
}

/** lists **/

.unordered {
  list-style: none;
}

.list-inline li {
  display: inline;
  padding: 0rem 0.5rem;
}


.footer {
  background-color: var(--primary);
  color: var(--secondary);
  padding: 2rem 0rem;
  border-top-right-radius: 1rem;
  text-align: center;
}

.footer .header {
  font-weight: bold;
  font-size: larger;
}

.footer ul {
  padding-inline-start: 0px;
}

.footer .link {
  color: var(--secondary);
}







